*{margin:0;padding: 0;}
canvas {display: block;
position: absolute;
    z-index: -1
}
body{
    z-index: 0;
    background: #292929;
    }

.navbar-sec{
    z-index: 1;
float: right;
    ul{
        color: #43805d;
        li{
        list-style: non;
            display: inline-block;
            padding: 3px 6px;
            a{
//                color: #fff;
                font-size: 14px;
                text-transform: uppercase;
                font-family: monospace;
            }
           
        }
    }
}

.overlay {
//display: none;
width: 100%;
position: absolute;
    .popup_custom{
        position: relative;
        margin: auto auto;
    width: 450px;
        background: #292929;
        border: 2px solid #046d31;
        img{
        width: 150px;
        }
        form{
            color: #2ECC71;
            input{
                border-radius: 2px;
//                border-color: #2ECC71;
            background: #292929;
                color: #2ECC71 !important;
            }
            button{
                width: 100%;
            background:#2ECC71;
                &:focus{
                background: #2ECC71;
                }
            }
            select{
            background: transparent;
                color: #2ECC71;
                option{
                background: #292929;
                    &:hover{
                    background:#333333;
                    }
                }
            }
        }
    }
}